
#results
  margin-top: 100px
  display: flex
  justify-content: center

.resultTable
  font-family: SBL Biblit
  font-size: 20px
  width: 900px

.resultRow
  &:hover
    background-color: #f8f8f8

  &> div
    padding: 3px 10px
    max-width: 400px

.net
    text-align: left

.wlc
    direction: rtl
    text-align: right
    font-size: 130%

.temp1
  color: orange

.temp2
  color: red

verse,
.verseNumber
  font-size: 10px
  top: -5px
  position: relative
  color: #0078d7
  font-style: normal

poetry
  font-style: italic